{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/index.css') }}">
{% endblock %}


{% block body %}
<div id="contentIndex">
    <h1>Super page d'accueil !!!</h1>

</div>
{% endblock %}
